body{
    margin: auto;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%) no-repeat fixed;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.03em;
    overflow: hidden;
    background-size: cover;
    text-align: center;
}

#inputSection {
    color: #FFF;
    height: 200px;
}

#input{
    width: 100%;
    color: #FFF;
    background: transparent;
    border: none;
    outline: none;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
}

::placeholder{
    color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#outputSection {
    padding-top: 2%;
    color: #FFF;
    background-color: #1F2937;
    height:500px;
}

@media (max-width: 480px){
    #inputSection {
        color: #FFF;
        height: 135px;
    }

    #input{
        width: 75vw;
        color: #FFF;
        background: transparent;
        border: none;
        outline: none;
        font-size: 60px;
        font-weight: 800;
        text-align: center;
    }

    #outputSection {
        padding-top: 0.5%;
        color: #FFF;
        background-color: #1F2937;
        height: 100vh;
        padding-left: 25px;
        padding-right: 25px;
    }
}